<div class='country-card'>
  <img
    src={{flags.svg}}
    alt={{name.official}}
    width='195'
    height='130'
    style='border:1px solid lightgrey'
  />
  <h2 class='country-title'>{{name.official}}</h2>
  <p class='country-capital'><b>Capital:</b> {{capital}}</p>
  <p class='country-population'><b>Population:</b> {{population}}</p>
  <p class='country-languages'><b>Languages:</b> {{languages}}</p>
</div>